# dependencies
node_modules

# next.js
.next/
out/

# production
build

# env
.env
.env*.local

# misc
.DS_Store
*.pem
npm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# coverage
coverage

# misc build output
dist

# prisma
prisma/dev.db
prisma/dev.db-journal
